$SoftPrimary : #FFEEFF;
$Primary : #FF6584;
$HardPrimary :#F14444;
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');
@mixin primary-bold {
    font-family: 'Lora', serif;
    font-weight: 700 !important;
}
@mixin primary-medium {
    font-family: 'Lora', serif;
    font-weight: 500 !important;
}
@mixin primary-regular {
    font-family: 'Lora', serif;
    font-weight: 400 !important;
}
h1,h2,h3,h4{
    font-family: 'Maitree', serif;
}
h1{
    font-size: 56px !important;
    margin-bottom: 1rem !important;
    @media only screen and (max-width: 991px){
        font-size: 48px !important;
    }
    @media only screen and (max-width: 575px){
        font-size: 32px !important;
    }
    @media only screen and (max-width: 350px){
        font-size: 28px !important;
    }
}
h2{
    
    font-size: 42px !important;
    margin-bottom: 0.5rem !important;
    @media only screen and (max-width: 991px){
        font-size: 32px !important;
    }
    @media only screen and (max-width: 575px){
        font-size: 26px !important;
    }
    @media only screen and (max-width: 350px){
        font-size: 20px !important;
    }
}
h5{
    @include primary-bold();
    font-size: 20px !important;
    @media only screen and (max-width: 991px){
        font-size: 18px !important;
    }
    @media only screen and (max-width: 575px){
        font-size: 16px !important;
    }
    @media only screen and (max-width: 350px){
        font-size: 15px !important;
    }
}
section{
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.main{
    @media only screen and (max-width: 575px){
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    div:nth-child(1){
        @media only screen and (max-width: 575px){
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .main-back{
            position: relative;
            width: 100%;
            height: 100%;
            @media only screen and (max-width: 767px){
                background-color: $SoftPrimary;
            }
            @media only screen and (max-width: 575px){
                height: 80%;
            }
            overflow: visible;
            img{
                &.back{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 760px;
                    @media only screen and (max-width: 991px){
                        width: 600px;
                    }
                    @media only screen and (max-width: 767px){
                        display: none;
                    }
                }
                &.front{
                    position: absolute;
                    top: 50%;
                    left: 40px;
                    transform: translateY(-50%);
                    width: 400px;
                    margin-right: 180px;
                    @media only screen and (max-width: 991px){
                        display: none;
                    }
                }
            }
        }
    }
    div:nth-child(2){
        .card{
            position: absolute;
            width: calc(100% + 200px);
            height: 60%;
            left: -200px;
            top: 50%;
            transform: translateY(-50%);
            align-items: center;
            flex-direction: row;
            border: none;
            border-radius: 30px;
            box-sizing: border-box;
            padding: 30px;
            @media only screen and (max-width: 991px){
                height: 40%;
            }
            @media only screen and (max-width: 575px){
                width: calc(100% - 100px);
                height: 60%;
                top: -100px;
                left: 50%;
                padding: 10px;
                justify-content: center;
                transform: translateX(-50%);
                box-shadow: 3px 0px 13px rgba(0,0,0,0.1);
            }
            @media only screen and (max-width: 350px){
                width: calc(100% - 10px);
            }
            .main-head{
                h1,h5{
                    width: 100%;
                }
                @media only screen and (max-width: 575px){
                    text-align: center;
                }
            }
        }
        .social-media{
            width: 300px;
            height: 60px;
            position: absolute;
            bottom: 40px;
            left: 20px;
            
            @media only screen and (max-width: 575px){
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
            }
            .social-btn{
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                background-color: $Primary;
                margin: 0 10px;
                text-align: center;
                i{
                    font-size: 28px;
                    color: #FFF;
                    line-height: 40px;
                }
            }
        }
    }
}
.galery{
    box-sizing: border-box;
    padding: 120px 0;
    &-head{
        width: 100%;
        text-align: center;
        p{
            @include primary-bold();
        }
    }
    &-body{
        .card{
            display: block;
            position: relative;
            height: 300px;
            padding: 20px 10px;
            @media only screen and (max-width: 575px){
                width: 300px;
                left: 50%;
                transform: translateX(-50%);
            }
            img{
                margin-top: 40px;
                height: 120px;
            }
            a,
            p{
                @include primary-bold();
                color: #333333;
                margin-bottom: 1rem;
                position: absolute;
                font-size: 18px;
                bottom: 40px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
.quote{
    &-body{
        height: calc(100vh - 60px);
        width: 100%;
        position: relative;
        img{
            width: 100%;
            height: 60%;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .card{
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translateX(-50%);
            width: 60%;
            height: 400px;
            @media only screen and (max-width: 991px){
                top: 20%;
                height: 320px;
            }
            @media only screen and (max-width: 767px){
                width: 80%;
            }
            @media only screen and (max-width: 575px){
                width: 90%;
            }
            blockquote{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 60%;
                @media only screen and (max-width: 767px){
                    width: 70%;
                }
                @media only screen and (max-width: 575px){
                    width: 80%;
                }
                p{
                    @include primary-regular();
                    font-size: 20px;
                    line-height: 34px;
                    @media only screen and (max-width: 767px){
                        font-size: 16px;
                        line-height: 28px;
                    }
                }
                span{
                    font-size: 42px;
                    @include primary-bold();
                    position: absolute;
                    @media only screen and (max-width: 767px){
                        font-size: 32px;
                    }
                    &:nth-child(1){
                        top: -20px;
                        left: -20px;
                    }
                    &:nth-child(3){
                        bottom: -20px;
                        right: -20px;
                    }
                }
            }
            span{
                @include primary-medium();
                font-size: 20px;
                position: absolute;
                right: 20%;
                bottom: 20px;
                @media only screen and (max-width: 767px){
                    font-size: 16px;
                    right: 15%;
                }
                @media only screen and (max-width: 575px){
                    right: 10%;
                }
            }
        }
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $HardPrimary;
        height: 60px;
        color: #FFF;
        @media only screen and (max-width: 350px){
            font-size: 11px !important;
        }
        span{
            @include primary-regular();
        }
        a{
            color: #FFF;
            @include primary-bold();
        }
    }
}